.input-telephone {
    align-items: center;
    background-color: #22262b;
    height: 60px;
    border: 1.5px solid black;
    border-radius: 10px;
}

.country-option {
    font-size: 10rem;
}

.country-select {
    border: #22262b;
    outline: none;
    background-color: #22262b;
    padding: 0px 10px;
}
.phone-input {
    background: transparent;
    border: none;
    padding: 0px 10px;
    margin: 0px;
    outline: none;
}

.line {
    margin-right: 15px;
    background-color: black;
    width: 0.5px;
    height: 100%;
}
