<div class="flex-col content h-full">
    <app-header-style class="header" label="Register" (onClick)="backPage()"> </app-header-style>
    <label class="w-350 pb-15 text-xl">What's Your</label>
    <label class="w-350 pb-20 text-xl">Telephone number ?</label>
    <label class="w-350 pb-60 text-sm">Welcome to castcle</label>

    <app-input-telephone [telephone]="telephone" (telephoneChange)="telephoneChange($event)">
    </app-input-telephone>
    <p class="text-2xs text-gray">You'll use this email when you login and when you <br>lose your password</p>

    <app-button-style [disabled]="sentOtpDisabled" class="footer" label="Sent OTP" (onClick)="nextPage()">
    </app-button-style>
</div>