<div class="dropdown" data-dropdown>
    <button class="flex-row dropdown-btn" (click)="showDropDown($event)" data-dropdown-button>
        <label class="text-white text-xs dropdown-label">{{label}}</label>
        <fa-icon class="arrow-down-icon" [icon]="faChevronDown"></fa-icon>
    </button>

    <div class="dropdown-menu">
        <div class="dropdown-links" *ngFor="let option of dropdownOption">
            <a (click)="selectOption(option.value,$event)" class="option">
                <span class="text-white text-xs text-label">{{option.label}}</span> </a>
        </div>
    </div>
</div>