.btn-icon {
  display: flex;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.arrow-back-icon {
  padding-right: 40px;
  color: white;
  font-size: 25px;
}
